@model SystemSzwajcarski.Models.User
@{
    ViewData["Title"] = "MyAccount";
}
<h1>Moje konto</h1>
<p>Imie: @Model.Name</p>
<p>Nazwisko :@Model.LastName</p>
<p>Login: @Model.Login</p>
<p>Rola: @Model.Roleuser</p>

